#category-userstyles > .category-icon, #category-userstyle > .category-icon {
  list-style-image: url("chrome://stylish/skin/32.png");
}

#styles{
  -moz-appearance: none !important;
  border: none !important;
  margin-bottom: 0px !important;
}

#styles-container {
  margin-left: -5px !important;
  margin-right: -5px !important;
  border-bottom: 1px solid #878787;
}

#userstyles-heading {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: -2px !important;
  border-bottom: 1px solid #878787;
}

*[anonid="twisty"] .button-icon {
  display: block !important;
}

#styles richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px solid #C0C0C0;
}

#styles richlistitem[isDisabled="true"] *[anonid="status-icon"] {
  opacity: 0.3 !important;
}

#styles richlistitem[isDisabled="true"] {
  color: GrayText;
}

#styles richlistitem[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
}

#styles richlistitem[selected="true"][isDisabled="true"] {
  background-image: url("chrome://oam/skin/itemDisabledFader.png") !important;
}

#checkUpdatesAllButton[stylish] {
  visibility: collapse !important;
}
