#category-greasemonkey-user-script > .category-icon,
.addon[type=greasemonkey-user-script] .icon,
#detail-view[type=greasemonkey-user-script] #detail-icon
{
  list-style-image: url(chrome://greasemonkey/skin/icon32.png);
}

#checkUpdatesAllButton[gm] {
  visibility: collapse !important;
}

#newUserscript{
    -moz-box-ordinal-group: 0 !important;
}
