#categories {
  -moz-binding: url("chrome://$NAME/content/bindings.xml#categories-list");
}

#header + hbox[flex="1"] {
  -moz-box-orient: vertical;
}

#header{
  -moz-box-ordinal-group: 10 !important;
}

.category {
  -moz-box-orient: vertical !important;
}

.addon:not([current="true"]) .addon-control {
  visibility: collapse;
}

.advancedinfo-container {
  -moz-box-orient: vertical !important;
  -moz-box-align: start;
}

.control-container {
  -moz-box-align: end;
  -moz-box-pack: end;
  width: 100% !important;
  min-width: 100% !important;
  -moz-box-flex: 1 !important;
}

.status-control-wrapper {
  -moz-box-align: end;
  -moz-box-pack: end;
  width: 100% !important;
  min-width: 100% !important;
  -moz-box-flex: 1 !important;
}

.addon-control.preferences {
  -moz-box-align: start !important;
}

#back-btn, #forward-btn {
  visibility: collapse;
}

.disabled-postfix {
  visibility: collapse;
}