/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.main-content {
  padding-top: 0;
  -moz-padding-end: 0;
}

/*** global warnings ***/

.global-warning-container {
  overflow-x: hidden;
}

.global-warning {
  -moz-box-align: center;
  padding: 0 8px;
  color: #916D15;
  font-weight: bold;
}

#addons-page[warning] .global-warning-container {
  background-color: rgba(255, 255, 0, 0.1);
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png");
  background-repeat: repeat-x;
}

@media (max-width: 600px) {
  .global-warning-text {
    display: none;
  }

  .global-warning .warning-icon {
    background-color: #fff;
    box-shadow: 0 0 2px 5px #fff;
    border-radius: 10px;
  }
}

/*** global informations ***/

/* Plugins aren't yet disabled by safemode (bug 342333),
   so don't show that warning when viewing plugins. */
#addons-page[warning="safemode"] .view-pane[type="plugin"] .global-warning-container {
  background-color: inherit;
  background-image: none;
}


/*** notification icons ***/

.warning-icon,
.error-icon,
.pending-icon,
.info-icon {
  width: 16px;
  margin: 3px 0;
}


/*** view alert boxes ***/

.alert-container {
  -moz-box-align: center;
}

.alert-spacer-before {
  -moz-box-flex: 1;
}

.alert-spacer-after {
  -moz-box-flex: 3;
}

.alert {
  -moz-box-align: center;
  padding: 10px;
  color: #333;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  background-color: #ebebeb;
}

.alert .alert-title {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}

.alert button {
  margin: 1em 2em;
}

.loading {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
  padding-left: 20px;
  padding-right: 20px;
}


/*** category selector ***/

#categories {
  padding-top: 0;
}

.category[disabled] {
  overflow: hidden;
  width: 0;
  min-width: 0;
  opacity: 0;
}

.category:not([disabled]) {
  min-width: 40px;
}

#category-search > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-discover.png");
}
#category-locale > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-languages.png");
}
#category-searchengine > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-searchengines.png");
}
#category-extension > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.png");
}
#category-service > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-service.png");
}
#category-theme > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.png");
}
#category-plugin > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-plugins.png");
}
#category-dictionary > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-dictionaries.png");
}
#category-experiment > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-experiments.png");
}
#category-updates > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-available.png");
}


/*** header ***/

.view-header {
  margin: 0;
}

#header-utils-btn {
  height: 30px;
  line-height: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.header-button:not([disabled="true"]):hover,
#header-utils-btn:not([disabled="true"]):hover {
  cursor: pointer;
}

/*** list ***/

.addon {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.addon:not(:only-child):last-child {
  border-bottom-width: 0;
}

.icon-container {
  width: 32px;
  height: 32px;
  -moz-margin-end: 2px;
  -moz-box-align: center;
  -moz-box-pack: center;
}

.icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  max-width: 32px;
  max-height: 32px;
}

.content-inner-container {
  -moz-margin-end: 5px;
}

.addon[active="false"] .icon {
  filter: grayscale(1);
}

.addon-view[type="theme"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

.addon-view[type="locale"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

.addon-view[type="plugin"] .icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

.addon-view[type="dictionary"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}

.addon-view[type="experiment"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/experimentGeneric.png");
}

.name-container {
  font-weight: bold;
  -moz-box-align: end;
  -moz-box-flex: 1;
}

.creator {
  font-weight: bold;
}

.description-container {
  -moz-margin-start: 6px;
  -moz-box-align: center;
}

.description {
  margin: 0;
}

.warning,
.pending,
.error {
  font-weight: bold;
  -moz-box-align: center;
}

.update-info-container {
  -moz-box-align: center;
}

.update {
  -moz-box-align: end;
}

.install-status-container {
  -moz-box-pack: end;
  -moz-box-align: end;
}

.name-outer-container {
  -moz-box-pack: center;
}

.relnotes-toggle-container,
.icon-outer-container {
  -moz-box-pack: start;
}

.addon-view .warning {
  color: #916d15;
}

.addon-view .error {
  color: #d74345;
}

.addon-view .pending {
  color: #1b7123;
}

.addon-view[pending="disable"] .pending,
.addon-view[pending="uninstall"] .pending {
  color: #62666e;
}

.addon .relnotes-container {
  -moz-box-align: start;
  -moz-margin-start: 6px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon[show-relnotes] .relnotes-container {
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon .relnotes-header {
  font-weight: bold;
  margin: 10px 0;
}

.addon .relnotes-toggle {
  -moz-appearance: none;
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

.addon .relnotes-toggle > .button-box > .button-icon {
  -moz-padding-start: 4px;
}

.addon-view[notification="warning"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png"),
                    linear-gradient(rgba(255, 255, 0, 0.04),
                                    rgba(255, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[notification="error"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-error.png"),
                    linear-gradient(rgba(255, 0, 0, 0.04),
                                    rgba(255, 0, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="enable"],
.addon-view[pending="upgrade"],
.addon-view[pending="install"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-positive.png"),
                    linear-gradient(rgba(0, 255, 0, 0.04),
                                    rgba(0, 255, 0, 0));
  background-repeat: repeat-x;
}

.addon-view[pending="disable"],
.addon-view[pending="uninstall"] {
  background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                    linear-gradient(rgba(128, 128, 128, 0.04),
                                    rgba(128, 128, 128, 0));
  background-repeat: repeat-x;
}

.list:focus .addon-view[selected] {
  background-image: url("chrome://$NAME/skin/itemEnabledFader.png");
  background-color: Highlight;
  color: HighlightText;
}

.list:focus .addon-view[selected][active="false"] {
  background-image: url("chrome://$NAME/skin/itemDisabledFader.png");
}

/*** item - uninstalled ***/

.addon[status="uninstalled"] {
  border: none;
}

.addon[status="uninstalled"] > .container {
  -moz-box-align: center;
  padding: 4px 20px;
  background-color: #FDFFA8;
  border-radius: 8px;
  font-size: 120%;
}

.addon[status="uninstalled"][selected] {
  background-color: transparent;
}


/*** rating ***/

.meta-rating {
  -moz-margin-end: 0;
  padding-top: 2px;
}


/*** download progress ***/

.download-progress {
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  background-color: #fbfbfb;
  width: 200px;
  height: 30px;
  margin: 2px 4px;
}

.download-progress[mode="undetermined"] {
  border-color: #0095dd;
}

.download-progress .start-cap,
.download-progress[complete] .end-cap,
.download-progress[mode="undetermined"] .end-cap,
.download-progress .progress .progress-bar {
  -moz-appearance: none;
  background-color: #0095dd;
}

.download-progress .progress .progress-bar  {
  min-height: 28px;
}

.download-progress .progress {
  -moz-appearance: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.download-progress .start-cap,
.download-progress .end-cap {
  width: 4px;
}

.download-progress .start-cap:-moz-locale-dir(ltr),
.download-progress .end-cap:-moz-locale-dir(rtl) {
  border-radius: 1px 0 0 1px;
}

.download-progress .end-cap:-moz-locale-dir(ltr),
.download-progress .start-cap:-moz-locale-dir(rtl) {
  border-radius: 0 1px 1px 0;
}

.download-progress .cancel {
  -moz-appearance: none;
  padding: 3px;
  min-width: 0;
  width: 20px;
  height: 20px;
  margin: 3px;
}

.download-progress .cancel .button-box {
  /* override in-content/common.css !important rule */
  padding: 0 !important;
  border: none;
}

.download-progress .cancel .button-text {
  display: none;
}

.download-progress .cancel .button-icon {
  margin: 0;
}

.download-progress .cancel {
  list-style-image: url('chrome://mozapps/skin/extensions/cancel.png');
}

.download-progress .status-container {
  -moz-box-align: center;
}

.download-progress .status {
  color: #333;
  text-shadow: #fff 0 0 2px;
}


/*** install status ***/

.install-status {
  -moz-box-align: center;
}


/*** check for updates ***/

#updates-container {
  -moz-box-align: center;
}

#updates-container .button-link {
  font-weight: bold;
}

#updates-installed,
#updates-downloaded {
  color: #00BB00;
  font-weight: bold;
}

#update-selected {
  margin: 12px;
}


/*** buttons ***/

.addon-control[disabled="true"]:not(.no-auto-hide) {
  display: none;
}

.no-auto-hide .addon-control {
  display: block !important;
}

button.button-link {
  -moz-appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #0095dd;
  cursor: pointer;
  min-width: 0;
  height: 20px;
  margin: 0 6px;
}

button.button-link:not(:-moz-focusring) > .button-box {
  border-width: 0;
  margin: 1px;
}

button.button-link:hover {
  background-color: transparent;
  color: #178ce5;
  text-decoration: underline;
}

/* Needed to override normal button style from inContent.css */
button.button-link:not([disabled="true"]):active:hover {
  background-color: transparent;
  color: #ff9500;
  text-decoration: none;
}


/*** telemetry experiments ***/

#detail-experiment-container {
  font-size: 80%;
  margin-bottom: 1em;
}

#detail-experiment-bullet-container,
#detail-experiment-state,
#detail-experiment-time,
.experiment-bullet-container,
.experiment-state,
.experiment-time {
  vertical-align: middle;
  display: inline-block;
}

.addon .experiment-bullet,
#detail-experiment-bullet {
  fill: rgb(158, 158, 158);
}

.addon[active="true"] .experiment-bullet,
#detail-view[active="true"] #detail-experiment-bullet {
  fill: rgb(106, 201, 20);
}

/*** info UI for add-ons that have been disabled for being unsigned ***/

#show-disabled-unsigned-extensions:not(:hover) {
  background-color: #fcf8ed;
}

#disabled-unsigned-addons-info {
  margin-bottom: 2em;
}

#disabled-unsigned-addons-heading {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: .5em;
}
