#styles{
  -moz-border-top-colors: #BEC3D3 #5D616E !important;
  -moz-border-right-colors: #F8FAFE #5D616E !important;
  -moz-border-bottom-colors: #F8FAFE #5D616E !important;
  -moz-border-left-colors: #BEC3D3 #5D616E !important;
}

#styles-container{
  margin-left: 8px !important;
  margin-right: 8px !important;
  margin-top: -1px !important;
}

*[anonid="twisty"] .button-icon {
  display: block !important;
}

*[anonid="heading"] {
  background-color: #C7D0D9 !important;
  color: #000000 !important;
}

*[anonid="twisty"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.gif") !important;
}

*[closed="true"] *[anonid="twisty"] {
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.gif") !important;
}

#styles richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#styles richlistitem[isDisabled="true"] *[anonid="status-icon"] {
  opacity: 0.3 !important;
}

#styles richlistitem[isDisabled="true"] {
  color: GrayText;
}

#styles richlistitem[selected="true"] {
  background-color: #C7D0D9 !important;
  color: #000000 !important;
}

#styles:focus richlistitem[selected="true"] {
  background-image: url("chrome://oam/skin/itemEnabledFader.png") !important;
  background-color: #424F63 !important;
  color: #FFFFFF !important;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

#styles:focus richlistitem[selected="true"][isDisabled="true"] {
  background-image: url("chrome://oam/skin/itemDisabledFader.png") !important;
}

#checkUpdatesAllButton[stylish] {
  visibility: collapse !important;
}
